# build folders
*/build/*/*.*

# Unreal Environment Binaries
Unreal/
Unreal/*/*.*

# Downloaded cmake
*/cmake-3.7.2-win64-x64/*/*.*

# Downloaded boost
*/boost_1_65_0/*/*.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
!HttpGet.exe
!unzip.exe
!TarTool.exe
!ICSharpCode.SharpZipLib.dll

# Python byte code
*.pyc

#PyCharm
.idea

*\#
*~
