<launch>
    <param name="/recursivestereo/parameters/verbose" type="bool" value="True" />
    <param name="/recursivestereo/parameters/ip_airsim" type="str" value="192.168.178.56" />
    <param name="/recursivestereo/parameters/port_airsim_to_ros_image" type="str" value="5676" />
    <param name="/recursivestereo/parameters/port_airsim_to_ros_pose" type="str" value="5677" />
    <node name="airsim_to_ros_node" pkg="js_airsim_to_ros_node" type="airsim_to_ros_node" output="screen"/>
</launch>
